# NYTimes data exercise 2

The NYTimes data is hosted across 30 csv files:
```bash
# Replace # with anything between 1 and 30
http://stat.columbia.edu/~rachel/datasets/nyt1.csv
```
We'd like to use Pandas and numpy to have a simple script that 
1. Aggregates all of this data into one dataframe. 
2. Get the click through rate per age, gender, and signed_in (remember that CTR is calculated as clicks/impressions).
3. Export the final dataframe using pandas to_csv

In [1]:
#%reset -f
# import pandas as pd

In [2]:
# DATA_DIR = '../data/'
# dfs = []
# for n in range(1,31):
#     dfs.append(pd.read_csv("http://stat.columbia.edu/~rachel/datasets/nyt{}.csv".format(n)))

# df = pd.concat(dfs,axis=0)

# df.to_csv(DATA_DIR + 'nytimes.csv', index=False)

In [3]:
# !head nytimes.csv

In [4]:
#%reset -f
from __future__ import print_function
from __future__ import division
import pandas as pd
import numpy as np
pd.set_option('display.max_rows',20)

In [5]:
DATA_DIR = '../data/'
df = pd.read_csv(DATA_DIR + 'nytimes.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14465753 entries, 0 to 14465752
Data columns (total 5 columns):
Age            int64
Gender         int64
Impressions    int64
Clicks         int64
Signed_In      int64
dtypes: int64(5)
memory usage: 551.8 MB

In [7]:
df.head(15)

    Age  Gender  Impressions  Clicks  Signed_In
0    36       0            3       0          1
1    73       1            3       0          1
2    30       0            3       0          1
3    49       1            3       0          1
4    47       1           11       0          1
5    47       0           11       1          1
6     0       0            7       1          0
7    46       0            5       0          1
8    16       0            3       0          1
9    52       0            4       0          1
10    0       0            8       1          0
11   21       0            3       0          1
12    0       0            4       0          0
13   57       0            6       0          1
14   31       0            5       0          1

In [8]:
df.isnull().any()

Age            False
Gender         False
Impressions    False
Clicks         False
Signed_In      False
dtype: bool

In [9]:
# if they are not sign in, then age and gender should be missing!
# Now, clean out those missing data!

df.loc[df.Signed_In == 0, ['Age', 'Gender']] = np.nan

In [10]:
df.head(15)
# note: row 6, 10 and 12 have replaced with NaN

     Age  Gender  Impressions  Clicks  Signed_In
0   36.0     0.0            3       0          1
1   73.0     1.0            3       0          1
2   30.0     0.0            3       0          1
3   49.0     1.0            3       0          1
4   47.0     1.0           11       0          1
5   47.0     0.0           11       1          1
6    NaN     NaN            7       1          0
7   46.0     0.0            5       0          1
8   16.0     0.0            3       0          1
9   52.0     0.0            4       0          1
10   NaN     NaN            8       1          0
11  21.0     0.0            3       0          1
12   NaN     NaN            4       0          0
13  57.0     0.0            6       0          1
14  31.0     0.0            5       0          1

In [11]:
# Use pandas groupby method to find the unique groups
gb = df.groupby(['Age','Gender','Signed_In'])
print(type(gb))

<class 'pandas.core.groupby.DataFrameGroupBy'>

In [12]:
# Then, use sum function to to find the sum of group for other variables
gb.sum()

                        Impressions  Clicks
Age   Gender Signed_In
3.0   0.0    1                    2       0
      1.0    1                    2       0
4.0   0.0    1                    8       0
5.0   0.0    1                   32       0
      1.0    1                   27       2
6.0   0.0    1                   59       2
      1.0    1                  112       4
7.0   0.0    1                  277      12
      1.0    1                  560      19
8.0   0.0    1                  814      21
...                             ...     ...
107.0 0.0    1                   16       1
      1.0    1                   14       1
108.0 0.0    1                   13       0
      1.0    1                   20       0
109.0 0.0    1                    2       0
111.0 0.0    1                    4       0
      1.0    1                    9       0
112.0 1.0    1                    7       0
113.0 0.0    1                   10       0
115.0 0.0    1                    9       0

[217 rows x 2 columns]

In [13]:
# Calculate statistics and put it into a dataframe
df_stat = pd.DataFrame(gb.sum()['Clicks'] / gb.sum()['Impressions'], columns = ['CTR']).reset_index()
print(df_stat)

       Age  Gender  Signed_In       CTR
0      3.0     0.0          1  0.000000
1      3.0     1.0          1  0.000000
2      4.0     0.0          1  0.000000
3      5.0     0.0          1  0.000000
4      5.0     1.0          1  0.074074
5      6.0     0.0          1  0.033898
6      6.0     1.0          1  0.035714
7      7.0     0.0          1  0.043321
8      7.0     1.0          1  0.033929
9      8.0     0.0          1  0.025799
..     ...     ...        ...       ...
207  107.0     0.0          1  0.062500
208  107.0     1.0          1  0.071429
209  108.0     0.0          1  0.000000
210  108.0     1.0          1  0.000000
211  109.0     0.0          1  0.000000
212  111.0     0.0          1  0.000000
213  111.0     1.0          1  0.000000
214  112.0     1.0          1  0.000000
215  113.0     0.0          1  0.000000
216  115.0     0.0          1  0.000000

[217 rows x 4 columns]

In [14]:
df_stat

       Age  Gender  Signed_In       CTR
0      3.0     0.0          1  0.000000
1      3.0     1.0          1  0.000000
2      4.0     0.0          1  0.000000
3      5.0     0.0          1  0.000000
4      5.0     1.0          1  0.074074
5      6.0     0.0          1  0.033898
6      6.0     1.0          1  0.035714
7      7.0     0.0          1  0.043321
8      7.0     1.0          1  0.033929
9      8.0     0.0          1  0.025799
..     ...     ...        ...       ...
207  107.0     0.0          1  0.062500
208  107.0     1.0          1  0.071429
209  108.0     0.0          1  0.000000
210  108.0     1.0          1  0.000000
211  109.0     0.0          1  0.000000
212  111.0     0.0          1  0.000000
213  111.0     1.0          1  0.000000
214  112.0     1.0          1  0.000000
215  113.0     0.0          1  0.000000
216  115.0     0.0          1  0.000000

[217 rows x 4 columns]

In [15]:
# Save data into csv!
df_stat.to_csv('nytimes_stat.csv', index=False)